body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.component{
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background: grey;
}

button{
  display: block;
}

section{
  background: grey;
  padding: 15px;
  h2{
    padding: 0;
    margin: 0;
  }
}